.home{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background-color: rgb(247, 241, 241);
}

.home img{
    width: 240px;
    height: 240px;
}

.home .products{
    display: flex;
    flex-direction: row;
}


.home .product{
    width: 240px;
    height: 290px;
    box-shadow: rgba(0, 0, 0, 0.20) 2px 2px 2px 2px;
    font-size: large;
    font-weight: 600;
    padding: 15px;
    margin: 15px;

}

.product p{
    padding-top: 1px;
}
